{% block footer %}
    <script src="./js/vendors.min.js"></script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script src="./js/main.min.js"></script>
    <script src="./js/forma.js"></script>
    </body>
    </html>
{% endblock %}